<template>
  <div class="field">
    <input
      type="text"
      :class="inputClass"
      v-model="search"
      @input="onChange"
      :placeholder="inputPlaceholder"
      :maxlength="inputMaxLength"
      :pattern="inputPattern"
      :required="inputRequired"
      :id="id"
      @click="isOpen = !isAsync && results.length > 1"
      :disabled="disabled"
      @focus="$event.target.select()"
    />
    <label :for="id" v-if="label">{{ label }}</label>
    <ul class="autocomplete-results" v-show="isOpen">
      <li class="autocomplete-result" v-if="isLoading">Loading data...</li>
      <li
        v-else
        class="autocomplete-result"
        v-for="(result, i) in results"
        :key="i"
        @click="setResult(result, i)"
      >
        {{ result ? result.substring(0, inputMaxLength) : null }}
      </li>
    </ul>
  </div>
</template>
<script>
import Debounce from '../util/Debounce';
// The autocomplete component must receive the data acoording the following format: {label: 'a label to be showed', id: 1}
// the id key allows us to identify the selected item and send its value to the parent component.
// Oficial source: https://alligator.io/vuejs/vue-autocomplete-component/
export default {
  name: 'autocomplete',
  props: {
    // Tells the component if the items will be retrieved by async call (http) or not (static).
    isAsync: {
      type: Boolean,
      required: false,
      default: false
    },
    // Options to be shown (only for no-async methods).
    items: {
      type: Array,
      required: false,
      default: () => []
    },
    //
    filter: {
      type: String,
      required: false,
      default: null
    },
    // Element identifier (it's used to tie up the label and input - "for and id atributes").
    id: {
      type: String,
      required: false,
      default: 'autocomplete'
    },
    // Input top label.
    label: {
      type: String,
      required: false,
      default: null
    },
    // Element key-name which indicates what object key is intended to show inside the dropdown area (It must be used only for async contexts).
    keyName: {
      type: String,
      required: false,
      default: null
    },
    // Custom class to be applied to the input element.
    inputClass: {
      type: Array,
      required: false,
      default: () => []
    },
    // Sets the input placeholder
    inputPlaceholder: {
      type: String,
      required: false,
      default: ''
    },
    // Defines the input max length.
    inputMaxLength: {
      type: Number,
      required: false,
      default: 200
    },
    // Defines the input pattern (regex).
    inputPattern: {
      type: String,
      required: false,
      // By default, it accepts everything.
      default: '.*'
    },
    // Defines if the input content is required or not
    inputRequired: {
      type: String,
      required: false,
      default: null
    },
    // Minimum length required to activate the search
    lengthToTrigger: {
      type: Number,
      required: false,
      default: 1
    },
    // Default input value.
    defaultInput: {
      required: false,
      default: ''
    },
    disabled: {
      required: false,
      default: false
    },
    // Service instance that's going to used to fetch data (It must be used only for async contexts).
    service: {
      type: Function,
      required: false,
      default: async () => ([])
    }
  },
  data () {
    return {
      // Search content.
      search: '',
      isSelected: false,
      // Filtered items from the async source.
      results: [],
      // Original array got by an async call. It holds on all elements in its original form.
      originalData: [],
      // Indicates if the dropdown can be showed or not.
      isOpen: false,

      // Indicates when an async call is carrying out.
      isLoading: false,
      // It's used to indicate when watch or not a change due to an async call.
      watch: false,
      fetched: []
    };
  },
  mounted () {
    // Outside clicks listener.
    document.addEventListener('click', this.handleClickOutside);
    // Default input is setted up.
    this.search = this.defaultInput;

    this.results = [ ...this.items ];
  },
  destroyed () {
    document.removeEventListener('click', this.handleClickOutside);
  },
  methods: {
    onChange () {
      this.$emit('input', !this.search ? null : this.search)
      if (!this.isAsync) {
        this.isOpen = true;
        this.filterResults(this.items);
      }
      this.watch = true;
    },
    filterResults (data) {
      if (this.search.length > this.lengthToTrigger) {
        this.results = data.filter(item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1);
        if (this.results.length < 1) this.isOpen = false;
      }
      else if (!this.search && data) {
        this.results = data;
      }
    },
    // Warns the parent component about the selected data.
    setResult (result, index) {
      this.isSelected = true;
      this.search = result;
      this.isOpen = false;
      // For no async entries.
      this.$emit('input', this.originalData[ index ] || this.search);
      this.watch = false;
    },
    // checks outside clicks and so that closes the result list
    handleClickOutside (evt) {
      if (!this.$el.contains(evt.target))
        this.isOpen = false;

    },
    async fetchData () {
      this.isSelected = false;
      this.isLoading = true;
      this.isOpen = true;
      try {
        // console.log(this.$props.service(this.search));
        const res = await this.$props.service();
        this.originalData = res;
        this.filterResults(res.map(el => el[ this.keyName ]));
        this.isLoading = false;
      } catch (err) {
        this.filterResults([])
        this.isLoading = false;
        this.isSelected = false;
      }
    }
  },
  watch: {
    // Detect filter changes
    filter: val => {
      if (this.items) this.items.filter(el => el.id == val);
    },
    // eslint-disable-next-line no-unused-vars
    search: Debounce(function (newVal, _oldVal) {
      // Is it necessary to perform a new request? this.watch will handle it.
      if (this.watch && newVal && this.isAsync) {
        if (newVal.length > 2) this.fetchData();
      }
    }, 500),
    // For no-async items.
    // eslint-disable-next-line no-unused-vars
    items: function (newVal, _oldVal) {
      if (newVal && !this.isAsync) {
        // Edit operations prevent (first time when this.search = this.defaultInput)
        this.search = newVal[ 0 ] || this.search;
        this.results = newVal
      }
    }
  }
};
</script>
<style scoped>
.autocomplete-results {
  padding: 10px;
  margin-bottom: -120px;
  border: 1px solid #eeeeee;
  height: 120px;
  width: -moz-available;
  overflow: auto;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 6px 6px rgba(59, 64, 69, 0.1);
  border-radius: 0 0 5px 5px;
}
.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  /* margin-bottom: 1em; */
}
label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}
input:placeholder-shown + label {
  cursor: text;
  /* max-width: 66.66%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.625rem) scale(1);
  margin-bottom: 0px;
}
::-webkit-input-placeholder {
  opacity: 0.5;
  transition: inherit;
}
.form-control::placeholder {
  opacity: 0;
}
.form-control::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 1;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
</style>
