<template>
  <div id="app">
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons"
    />
    <img alt="Vue logo" src="./assets/logo.png" />
    <AutoComplete
      :label="'Your label here'"
      @input="input"
      :inputPlaceholder="'Your placeholder here'"
      :maxLength="100"
      :isAsync="true"
      :keyName="'label'"
      :service="exampleService"
      :defaultInput="defaultInput"
    />
  </div>
</template>

<script>
import AutoComplete from './components/Autocomplete.vue';
import ExampleService from './services/ExampleService';

export default {
  name: 'App',
  components: {
    AutoComplete
  },
  data () {
    return {
      exampleService: ExampleService.getAll,
      defaultInput: 'Default input'
    }
  },
  methods: {
    input (value) {
      if (value)
        console.log(`Input from autocomplete: ${value[ 'label' ] || ''}`)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  display: flex;
  justify-content: center;
}
</style>
